.list-of-account{
    width: 80%;
    margin: auto;
    padding-bottom: 200px;
    .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.tss-tlx3x1-MUIDataTableToolbar-root.css-hyum1k-MuiToolbar-root {
        text-align: -webkit-left;
    }
}